<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gromet Account Approval Notification</title>
</head>

<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 60vh; width: 100vw;">
        <div style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6;">
            <h2>Greeting,</h2>
            <h2>Congratulations! Your password has been reset. 🎉</h2>
            <h2>Please visit our website and log in to access your account.<br>
            If you have any questions or need assistance, feel free to reach out to our support team at <a href="mailto:info@gromet.rs">info@gromet.rs</a> or <a
                href="tel:+381600768777">+381 60 0768 777</a>.</h2>
            <h2>Thank you for choosing Gromet Company. We look forward to serving you!</h2>
            <h2>Best regards,<br>Gromet Company Team</h2>
            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <button style="height: 60px; width: 250px; background-color: rgb(0, 77, 140); color: white; border: none; font-size: 16px;" onclick="redirectToGromet()">
                Login Gromet
            </button>
        </div>
    <script>
        function redirectToGromet() {
            window.location.href = "https://gromet.vercel.app/account/login"; 
        }
    </script>
</body>

</html>
